body {
    color: #fff;
    background: #121212;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.hero {
    height: 100%;
    width: 100%;
    background: url(rockyMTN_national_park.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li {
    list-style: none;
    padding: 20px 40px;
}

nav li a {
    text-decoration: none;
    color: black;
}

.superhero {
    display: flex;
    margin-top: 300px;
}

.superhero h2 {
    font-size: 5rem;
}
