/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px "Roboto";
    color: #fff;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

@media screen and (min-width: 600px) {
    nav {
        flex-direction: row;
        align-items: center;
    }
}

a {
    text-decoration: none;
    opacity: 0.6;
    transition: all 1s ease-out;
    color: #fff;
}

a:hover {
    opacity: 1;
    color: #007EA7;
    transition: opacity, color .5s ease-in;
    border-bottom: 1px solid white;
}

h1 {
    font-family: "Thasadith";
    font-size: 3rem;
    margin-bottom: 10px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 7%;
}

@media screen and (min-width: 600px) {
    section {
        padding: 50px 20%;
    }
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Header Styles */

header {
    position: absolute;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 100px 0;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

header nav li {
    margin: 10px 30px;
    font-size: 1.2rem;
}

/* Hero Styles */

.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    font-family: "Thasadith";
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color:grey;
    background-position: center;
    filter: drop-shadow(1px 1px 1px #222);
}

.hero h1 {
    font-size: 4rem;
    color: #fff;
    transition: color 3s ease-out;
    box-shadow: 4px 4px;
    padding: 5px 10px;
}

.hero h1:hover {
    color: #003459;
    transition: color 1s ease-out;
}

.hero h4 {
    font-weight: 100;
    font-style: italic;
    margin-top: 15px;
}

/* About Styles */

.about {
    color: #00171F;
    min-height: 100vh;
}

.about .about-header {
    width: 100%;
    color: #007EA7;
    margin-bottom: 15px;
}

.about .introduction {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 1.2rem;
    text-align: left;
}

.about .introduction p {
    margin-bottom: 2vh;
}


#looking-good {
    object-fit: cover;
    max-height: 100%;
    width: 100%;
    max-width: 400px;
    margin-bottom: 2vh;
}

.about .introduction h3 {
    color: #007EA7;
    font-size: 1.5rem;
}

/* Music Styles */

section.music {
    background-color: #007EA7;
    padding-bottom: 25px;
    filter: drop-shadow(2px 2px 2px #222);
}

section .music-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
}

#talent-show {
    width: 100vw;
    height: 56.25vw;
    margin: 2vh 0;
}

section.music-aurion {
    padding-top: 0;
    background-color: #00A7E1;
    font-size: 1.2rem;
}

#aurion-logo {
    width: 100vw;
}

#avatar-state {
    width: 100vw;
    margin-bottom: 3vh;
    filter: drop-shadow(1px 1px 1px #222);   
}

.btn {
    width: 100%;
    padding: 2vh;
    margin-top: 2vh;
    margin-bottom: 4vh;
    background-color: #f50;
    text-align: center;
    vertical-align: middle;
    opacity: 1;
    border-radius: 12px;
    box-shadow: 0px 2px #f80;
}

#solo-magic {
    margin-top: 2vh;
    margin-bottom: 6vh;
}

.music-aurion .sc-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    width: 100%;
    margin: 2vh 0;
}

@media screen and (min-width: 600px) {
    .music-aurion .sc-grid {
        grid-template-columns: 1fr 1fr;
    }
}

